
/* 1. Бокс-модель на весь проект */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Убираем стандартные отступы у body */
body {
  margin: 0;
  padding: 0;
    font-family: $font-main;
  font-weight: 400;
  background: $color-bg;
}

/* 3. Списки без буллитов */
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 4. Картинки и видео не вылетают за контейнер */
img, video {
  max-width: 100%;
  height: auto;
  display: block;
}

/* 5. Кнопки и формы наследуют шрифт */
button, input, textarea, select {
  font: inherit;
}

section {
  padding-top:5rem;
  padding-bottom:5rem;/* расстояние между секциями */
}

h1, h2{
  margin-bottom:1.5rem; /* отступ после заголовка */
}

p {
  margin-bottom:1.5rem; /* отступ между абзацами */
}


.container{
  max-width: 81.25rem;
  padding-inline: clamp(20px,4vw,40px);
  margin-inline:auto;
}
.container__footer{
   max-width:81.25rem;
  padding-inline: clamp(20px,4vw,40px);
  margin-inline:auto;
}
h3{
  font-size:1.563rem;
  color: $color-white;
  text-align: center;
}
aside{
  padding-block:1.875rem;
}