

/* 1. Бокс-модель на весь проект */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Убираем стандартные отступы у body */
body {
  margin: 0;
  padding: 0;
    font-family: $font-main;
  font-weight: 400;
  overflow: hidden;
}

/* 3. Списки без буллитов */
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 4. Картинки и видео не вылетают за контейнер */
img, video {
  max-width: 100%;
  height: auto;
  display: block;
}

/* 5. Кнопки и формы наследуют шрифт */
button, input, textarea, select {
  font: inherit;
}

section {
  padding-top: 80px;
  padding-bottom: 80px; /* расстояние между секциями */
}

h1, h2, h3 {
  margin-bottom: 24px; /* отступ после заголовка */
}

p {
  margin-bottom: 16px; /* отступ между абзацами */
}

button {
  margin-top: 24px; /* отступ кнопки от текста над ней */
}