.header__blog{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap:50px;
     position:sticky;
   top:0;
   z-index:100;
   width: 100%;
   background: $color-bg;
   &-logo{
      max-width:clamp(6rem,8vw,10.125rem);
        color:#FFA228;
       filter: drop-shadow(0 0 6px rgba(255, 100, 50, 0.6));
       padding-inline: 50px;
   }

}
.nav__blog{
    &-bar{
        display: grid;
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        align-self: center;
        padding-block: 45px;
    }
  
}
.nav__self{
    text-decoration: none;
        color:$color-text;
          cursor:pointer;
      transition: transform .3s ease, box-shadow .3s ease;
      &:hover {
        background:$color-bg;
        color:$color-border;
    }
}
 .nav__self.active{
      border-bottom: 2px solid #ff3d00;
      transition: 0.3s ease;
     }
.blog{
    &__btn{
        padding-block: 30px;
    }
    &__page{
        border-radius: 30px;
        padding: 10px;
        cursor: pointer;
        background: $color-btn;
        color:$color-white;
        font-size:18px;
        border: none;
        text-decoration: none;
        transition: transform .3s ease, box-shadow .3s ease;
             &:hover {
        background:$color-footer-header;
        color:$color-card;
             }
    }
    &__svg{
        border-radius: 60px;
    }
    &__group{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap:clamp(50px,5vw,75px);

    }
    &__text{
        color:$color-footer-header;
        font-size: $fs-body;
    }
    &__title{
        font-size: $fs-h1;
        color:$color-white;
        text-align: center;
    }
}
.slider {
    position:relative;
    margin:0;
    &__caption{
      position:absolute;
      text-transform: uppercase;
      font-size: $fs-body;
      opacity: 0.32;
      writing-mode:sideways-lr;
      left:-25px;
      top:30px;
      letter-spacing: 1px;
        }

    &__inner{
        display:flex;
        flex-wrap: nowrap;
        gap:clamp(0.625rem, 4vw, 1.875rem);
        list-style: none;
       padding:0;
       margin:0;
       
    }
    &__item{
        position:relative;
        flex:0 0 30rem;
        &-inner{
          position:relative;
        }
        
    }
    
    &__svg{
        display: block;
        height: auto;
        width: 100%;
        border-radius: 30px;
    }
    &__container{
        display: flex;
        justify-content: center;
    }
    &__title{
         font-size: $fs-h1;
        color:$color-white;
        text-align: center;
    }
}
.story {
 display:grid;
 grid-template-rows: auto 1fr auto;
 gap:1.25rem;
 background:$color-btn;
 min-width: clamp(17.5rem, 30vw, 26.25rem);
 position:absolute;
 bottom: clamp(-2.5rem, -5vw, -4.688rem);
 left: clamp(-0.625rem, -2vw, -1.563rem);
 align-items: stretch;
 padding:clamp(0.5rem, 1vw, 1rem);
 border-radius:30px;
 &__text{
    font-size: $fs-body;
 }

}
.blog__events{
   
    &-title{
        font-size: $fs-h1;
        color:$color-white;
        text-align: center;
    }
    &-untertitle{
        color:$color-footer-header;
    }
    &-stor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:30px;
    }
    &-text{
        font-size: $fs-body;
        color: $color-white;
        text-align: center;
    }
    &-texttitle{
        font-size: $fs-price;
        color:$color-footer-header;
        text-align: center;
    }
    &-btn{
        border-radius:30px;
        font-size: $fs-body;
        color: $color-white;
        background: $color-btn;
        border:none;
        cursor: pointer;
        padding: 10px;
        transition: transform .3s ease, box-shadow .3s ease;
             &:hover {
        background:$color-footer-header;
        color:$color-card;
             }
    }
    &-btnwrap{
        display: flex;
        justify-content: center;
    }
    &-svg{
        border-radius: 30px;
    }
}
.stories{
    &__text{
        font-size: $fs-body;
        color: $color-footer-header;
    }
    &__title{
        font-size: $fs-h1;
        color: $color-white;
        text-align: center;
    }
    &__untertitle{
        font-size: $fs-price;
        color:$color-white;
        text-align: center;
    }
    &__svg{
        border-radius: 30px;
    }
    &__group{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:50px;
    }
&__btn{
        border-radius:30px;
        font-size: $fs-body;
        color: $color-white;
        background: $color-btn;
        border:none;
        cursor: pointer;
        padding: 10px;
        transition: transform .3s ease, box-shadow .3s ease;
             &:hover {
        background:$color-footer-header;
        color:$color-card;
             }
} 
&__btn-group{
    display: flex;
    justify-content: center;
}
}
.tour{
    &__modal{
  display:grid;
  place-items:center;
  z-index:1000;
  font-size: $fs-body;
  position: fixed;
  inset:0;
  }
   &__window{
  background: $color-btn;
position:relative;
color:$color-white;
z-index: 1;
padding:clamp(0.938rem,4vw,1.875rem);
 max-height: 50vh;
 height: 50vh;
border-radius:30px;
margin: 15px;
box-shadow: 0 8px 24px rgba(0,0,0,.3);
  max-width: 450px; 
  width: 100%;
  }
    &__overlay{
    position:absolute;
    inset:0;
    z-index:0;
    background: rgba(0,0,0,.6);
    backdrop-filter: blur(2px);
  }
  &__close{
   display: grid;
   justify-self:end;
   width:20px;
  height:20px;
  border:none;
  background: transparent;
  cursor:pointer;
  padding: 0.5rem;
  color:$color-border; 
}
&__line{
  position: relative;
}
&__icon{
  width:20px;
  height:20px;
}
&__form{
  display: flex;
  flex-direction: column;
}
&__input,&__text{
  display: flex;
  flex-direction: column;
  background: inherit;
  border: none;
  padding-block: 15px;
}
&__input{
  border-bottom: 1px solid rgba(255,255,255,0.3);
  opacity: 0.8;
  padding-block: 20px;
  transition: 0.3s;
  box-sizing: border-box;
  padding-block: 0.75em 1em;
  appearance: none;
  -webkit-appearance: none;
  &:focus{
  outline: none;
  border-bottom: 1px solid rgba(255,255,255,0.9);
  opacity: 1;
  transition: border-color .25s ease;
        }
}
&__link{
text-decoration: none;
font-size: 15px;
  transition: .2s;
  color:gray;
    &:hover {
    color: rgba(255,255,255,0.85);
  }
}
&__text{
  padding-block: 20px;
}
&__btn{
  display: grid;
  justify-self: center;
    max-width: 150px;
    border-radius: 30px;
    background: $color-card;
    color:$color-white;
    padding-block: 15px;
    padding-inline: 20px;
    cursor:pointer;
    border:none;
     translate:  transform .3s ease, box-shadow .3s ease;
      &:hover {
        background:$color-footer-header;
        color:$color-card;
  }
}

}
.meet{
      &__modal{
  display:grid;
  place-items:center;
  z-index:1000;
  font-size: $fs-body;
  position: fixed;
  inset:0;
  }
   &__window{
  background: $color-btn;
position:relative;
color:$color-white;
z-index: 1;
padding:clamp(0.938rem,4vw,1.875rem);
 height: auto;
border-radius:30px;
margin: 15px;
box-shadow: 0 8px 24px rgba(0,0,0,.3);
  max-width: 450px; 
  width: 100%;
  }
    &__overlay{
    position:absolute;
    inset:0;
    z-index:0;
    background: rgba(0,0,0,.6);
    backdrop-filter: blur(2px);
  }
  &__close{
   display: grid;
   justify-self:end;
   width:20px;
  height:20px;
  border:none;
  background: transparent;
  cursor:pointer;
  padding: 0.5rem;
  color:$color-border; 
}
&__line{
  position: relative;
}
&__icon{
  width:20px;
  height:20px;
}
&__button{
   display: flex;
  justify-content: center;
  align-items: center;
}
&__btn{
  border:none;
  border-radius: 20px;
  background: $color-card;
  color:$color-white;
  padding:10px;

}
&__title,&__text{
  text-align: center;
}
}
@media (max-width:1024px) {
    .blog__events-stor{
    display: grid;
    grid-template-columns: 1fr;
    gap:30px;
    }


}
@media (max-width:768px) {
    .nav__blog-bar{
        grid-template-columns: 1fr 1fr;
        gap:20px;
        padding-block: 30px;
        justify-self: end;
    }
    .header__blog-logo{
       padding-inline: 20px;
   }
    .blog__group{
        grid-template-columns: 1fr;
        gap:50px;
    }
 .stories__group{
        grid-template-columns: 1fr;
        gap:30px;
    }
    .slider__inner{
      flex-wrap: wrap;
      gap:50px;
    }
  .header__blog {
    grid-template-columns: auto 1fr;
    gap: 20px;
  }
  
}
@media (max-width:480px) {
    .nav__blog-bar{
        grid-template-columns: 1fr;
        gap:15px;
        padding-block: 20px;
    }

    .header__blog{
        grid-template-columns: auto;
         &-logo{
        max-width:clamp(6rem,8vw,10.125rem);
        padding-inline: 20px;
   }
    }
    .blog__group{
        grid-template-columns: 1fr;
    }
    .slider__item{
    flex:0 0 15rem;
  }
}