 //кнопка на видео 
 .video__btn{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    border-radius:50px;
    width:clamp(2.5rem,4vw,5rem);
    height:clamp(2.5rem,4vw,5rem);
    border:3px solid $color-border;
    background: $color-bg;
    &::before{
        content:"";
        position: absolute;
        top: 50%;
        left: 50%;
        border-left:1.25rem solid $color-border;
        border-bottom:0.75rem solid transparent;
        border-top:0.75rem solid transparent;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 55%;
        background:transparent;
    }
     }
     .text__strong{
        font-weight: $fw-black;
     }
     //две кнопки на герое закажи сейчас/меню
   .hero__btn{
        position: relative;
        display: flex;
        font-size:1.375rem;
        margin-top:3.75rem;
        border-radius:1.875rem;
        border:2px solid $color-border;
        max-width:clamp(12.5rem,18vw,23.75rem);
        background: $color-bg;
        overflow: hidden;
        height:3.75rem;
        &-left{
            flex:1;
            cursor: pointer;
           border-radius:1.875rem;
           background:none;
           border:none;
           padding-block:0.313rem;
           color:$color-border;
           transition: transform .3s ease, box-shadow .3s ease;
             &:hover {
        background:$color-btn;
        color:$color-white;
        
    }
        }
        &-right{
            flex:1;
            cursor: pointer;
            border-radius:1.875rem;
           padding-block:0.313rem;
           color:$color-border;
           background:none;
           border:none;
           transition: transform .3s ease, box-shadow .3s ease;
             &:hover {
        background:$color-btn;
        color:$color-white;
        
    }

        }
    }
    //текст на карточке пиццы
     .card__text{
        color:$color-white;
        font-size: $fs-small;
        text-align:start;
     }
     //кнопки на карточке пиццы 
     .card__btn{
        display: flex;
        gap:clamp(0.625rem,2vw,1.563rem);
        padding-left:0.625rem;
        &-10,&-12,&-14{
            border-radius:3.125rem;
            width:2.5rem;
            padding-block:0.625rem;
            border:1px solid $color-border;
            background:$color-bg;
            color:$color-text;
            margin-bottom:0.625rem;
            cursor:pointer;
               transition: transform .3s ease, box-shadow .3s ease;
             &:hover {
        background:$color-btn;
        color:$color-white;
      
    }
        }
     }
     //кнопка ингредиенты 
     .card__ingredients{
      border-radius:1.875rem;
      width: clamp(7rem,10vw,12.125rem);
      padding-block:0.5rem;
      background:$color-bg;
      border:1px solid $color-border;
      color:$color-border;
       cursor:pointer;
               transition: transform .3s ease, box-shadow .3s ease;
             &:hover {
        background:$color-btn;
        color:$color-white;
    }
     }
     //кнопка заказа в карточке пиццы 
     .card__order{
      border-radius:1.875rem;
      width: clamp(7rem,10vw,12.125rem);
      padding-block:0.5rem;
      background:$color-btn;
      border:1px solid $color-border;
      color:$color-white;
      margin-top:0.938rem;
      cursor:pointer;
      transition: transform .3s ease, box-shadow .3s ease;
      &:hover {
        background:$color-bg;
        color:$color-border;
        transform: translateY(-3px) scale(1.05);
    }
     }
     //кнопка заказа в модальном окне 
       .modal__order-btn{
      border-radius:1.875rem;
      width: clamp(7rem,10vw,12.125rem);
      padding-block:0.5rem;
      background:$color-btn;
      border:1px solid $color-border;
      color:$color-white;
      margin-top:0.938rem;
      cursor:pointer;
      transition: transform .3s ease, box-shadow .3s ease;
      &:hover {
        background:$color-bg;
        color:$color-border;
        transform: translateY(-3px) scale(1.05);
    }
     }
     //кнопки плюс и минус
     .card__minus,.card__plus{
            border-radius:3.125rem;
            width:1.438rem;
            padding-block:0.125rem;
            border:1px solid $color-text;
            background:$color-bg;
            color:$color-text;
            margin-bottom:0.625rem;
            text-align: center;
    }
     
     .card__plus{
        background: $color-btn;
        color:$color-white;
           cursor:pointer;
      transition: transform .3s ease, box-shadow .3s ease;
      &:hover {
        background:$color-bg;
        color:$color-border;
      }

     }
     .card__minus{
         cursor:pointer;
      transition: transform .3s ease, box-shadow .3s ease;
      &:hover {
        background:$color-btn;
        color:$color-white;
       
      }
     }
     //счетчик пицц
     .card__count{
        color:$color-text;

     }
     //цена 
     .product-card__price{
        color:$color-white;
        padding-top:1.063rem;
        font-size: $fs-price;

        
     }
     .card__positiv{
        padding-top:1.25rem;
     }
     
     .pic__text{
        color:$color-white;
        font-weight: $fw-medium;
        font-size: $fs-price;
        text-transform: uppercase;
        position: absolute;
        top: 40%;
       left: 50%;
        transform: translate(-50%, -50%);

     }
     .pic__header{
        font-size: $fs-h1;
        color:$color-white;
        font-weight: $fw-black;
        text-align: end;
        padding-top:0;
        margin-top: 0;
        align-self: flex-end;
     }
     .pic__text-info{
        color:$color-white;
        font-size:$fs-filter;
        text-align: end;
        
     }
    
     .pic__button{
      position: absolute;
       top: 80%;
       left: 50%;
       text-align: center;
        transform: translate(-50%, -50%);
        font-size: $fs-small;
        border-radius:1.875rem;
        border:none;
        color:$color-white;
        background: $color-btn;
        width:clamp(7rem,10vw,12.75rem);
        padding-block:0.5rem;
           cursor:pointer;
      transition: transform .3s ease, box-shadow .3s ease;
      &:hover {
        background:$color-bg;
        color:$color-border;
      }
     }
     .pic__img{
      border-radius:3.125rem;
      padding-block:1.25rem;
     }
//корзина значок 
.cart {
  position: relative;
  display: inline-block;
}
//значок над корзиной с колличеством товара 
.cart__total {
  position: absolute;
  top: -6px;
  right: -6px;
  background:$color-btn;
  color: #fff;
  font-size:$fs-body;
  font-weight:$fw-bold;
  border-radius: 50%;
  padding: 2px 6px;
  min-width:1.3rem;
  text-align: center;
  line-height: 1;
}

//для спрятанных элементов
.hidden{
 display: none !important;
}
//для заблокипованных элементов 
   .card__minus[disabled]{
   cursor:default;
   opacity: 0.5;
   pointer-events: none;
   transition: opacity .3s;
}
.card__minus[disabled]:hover,
.card__minus[disabled]:active {
  background: inherit;
  transform: none;
}
//стили для активации с помощью JS 
 .nav__link.active{
      border-bottom: 2px solid #ff3d00;
      transition: 0.3s ease;
     }
.modal__card-active{
   background:$color-bg-footer;
   color:$color-footer-header;
   border-radius: 1.25rem;
   border:1px solid $color-border;
}
.btn-active{
   background: $color-btn;
   color:$color-white;
   transition: all 0.3s ease;
} 
.active-btn{
   background: $color-btn;
   color:$color-white;
}
.menu__card.hidden { 
  display: none; 
}

.modal__card-value{
   background:$color-bg-footer;
   color:$color-footer-header;
   border-radius: 1.25rem;
   border:1px solid $color-border;
}
.modal__body-active{
   overflow: hidden;
}
.cart__modal-item .modal__img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}
//эффект пульсации на кнопке
.ripple {
  position: relative;
  overflow: hidden;
}

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  background: radial-gradient(circle, rgba(255,140,0,0.6) 0%, rgba(255,70,0,0.2) 60%, transparent 100%);

  animation: ripple-animation 0.6s linear;
}
//неактивность кнопок 
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;  
  transform: none;  
  box-shadow: none;
}
.reg-btn:disabled {
  opacity: .6;
  pointer-events: none;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}
.universal__btn:disabled {
   opacity: .6;
  pointer-events: none;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

//иконка мусорки в корзине
.icon-trash{
  width:15px;
  height:15px;
  color:$color-white;
}
//попап с профилем клиента 
.account-popup{
  position: absolute;
  top:100%;
  right:0;
  z-index: 9999;
  margin-top: 10px;
  &__wrapper{
    position:relative;
    display: inline-block; 
  }
  &__inner{
display: flex;
flex-direction: column;
background: $color-btn;
max-width: 270px;
height: auto;
justify-content: center;
border-radius: 30px;
  }
  &__email,&__name{
    color:$color-card;
    font-size: $fs-body;
    padding-block: 20px;
    text-align: start;
    padding-inline: 20px;

  }
  &__btn{
    max-width: 150px;
    border-radius: 30px;
    background: $color-card;
    color:$color-white;
    padding-block: 10px;
    padding-inline: 20px;
    cursor:pointer;
    border:none;
     translate:  transform .3s ease, box-shadow .3s ease;
      &:hover {
        background:$color-footer-header;
        color:$color-card;
  }
}
}
.account-btn {
  padding-block: 15px;
  position: relative;

}
//пульсация кнопки 
@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
     @media (max-width: 768px) {
        .pic__text{
            font-size: $fs-filter;
        }
        .pic__header{
            font-size: $fs-h2;
        }
     }
     //адаптив 
@media (max-width: 600px) {
  .modal__window {
    max-height: 90vh;   
    height: auto;      
    overflow-y: auto;   
  }

  .modal__system {
    grid-template-columns: 1fr; 
  }

  .modal__colls-ingredients {
    max-height: 60vh;   
    overflow-y: auto; 
        .modal__colls-ingredients {
    background: #210A01;   
    padding: 1rem;
    border-radius: 1rem;
  }
  }
}

     @media (max-width: 480px) {
        .pic__text{
            font-size: $fs-small;
        }
        .pic__header{
            font-size: $fs-h3;
        }
     }
@media (max-width: 480px) {
  .modal__window {
    height: auto;
    max-height: 90vh;
    width: 90%;
    padding: 1rem;
  }

  .modal__system {
    grid-template-columns: 1fr;  
    gap: 1.25rem;
  }

  .modal__img {
    width: 60%;
    margin: 0 auto;
  }

  .modal__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}
