 .video__btn{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    border-radius:50px;
    width:clamp(2.5rem,4vw,5rem);
    height:clamp(2.5rem,4vw,5rem);
    border:3px solid $color-border;
    background: $color-bg;
    &::before{
        content:"";
        position: absolute;
        top: 50%;
        left: 50%;
        border-left:1.25rem solid $color-border;
        border-bottom:0.75rem solid transparent;
        border-top:0.75rem solid transparent;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 55%;
        background:transparent;
    }
     }
     .text__strong{
        font-weight: $fw-black;
     }
     
   .hero__btn{
        position: relative;
        display: flex;
        font-size:1.375rem;
        margin-top:3.75rem;
        border-radius:1.875rem;
        border:2px solid $color-border;
        max-width:clamp(12.5rem,18vw,23.75rem);
        background: $color-bg;
        overflow: hidden;
        height:3.75rem;
        &-left{
            flex:1;
            cursor: pointer;
           border-radius:1.875rem;
           background:none;
           border:none;
           padding-block:0.313rem;
           color:$color-border;
           transition: transform .3s ease, box-shadow .3s ease;
             &:hover {
        background:$color-btn;
        color:$color-white;
        
    }

        }
        &-right{
            flex:1;
            cursor: pointer;
            border-radius:1.875rem;
           padding-block:0.313rem;
           color:$color-border;
           background:none;
           border:none;
           transition: transform .3s ease, box-shadow .3s ease;
             &:hover {
        background:$color-btn;
        color:$color-white;
        
    }

        }
    }
     .btn-active{
        background: $color-btn;
        color:$color-white;
        transition: all 0.3s ease;
     }
     .card__text{
        color:$color-white;
        font-size: $fs-small;
        text-align:start;
     }
     .card__btn{
        display: flex;
        gap:clamp(0.625rem,2vw,1.563rem);
        padding-left:0.625rem;
        &-10,&-12,&-14{
            border-radius:3.125rem;
            width:2.5rem;
            padding-block:0.625rem;
            border:1px solid $color-border;
            background:$color-bg;
            color:$color-text;
            margin-bottom:0.625rem;
            cursor:pointer;
               transition: transform .3s ease, box-shadow .3s ease;
             &:hover {
        background:$color-btn;
        color:$color-white;
      
    }
        }
     }
     .card__ingredients{
      border-radius:1.875rem;
      width: clamp(7rem,10vw,12.125rem);
      padding-block:0.5rem;
      background:$color-bg;
      border:1px solid $color-border;
      color:$color-border;
       cursor:pointer;
               transition: transform .3s ease, box-shadow .3s ease;
             &:hover {
        background:$color-btn;
        color:$color-white;
    }
     }
     .card__order{
      border-radius:1.875rem;
      width: clamp(7rem,10vw,12.125rem);
      padding-block:0.5rem;
      background:$color-btn;
      border:1px solid $color-border;
      color:$color-white;
      margin-top:0.938rem;
      cursor:pointer;
      transition: transform .3s ease, box-shadow .3s ease;
      &:hover {
        background:$color-bg;
        color:$color-border;
        transform: translateY(-3px) scale(1.05);
    }
     }
       .modal__order-btn{
      border-radius:1.875rem;
      width: clamp(7rem,10vw,12.125rem);
      padding-block:0.5rem;
      background:$color-btn;
      border:1px solid $color-border;
      color:$color-white;
      margin-top:0.938rem;
      cursor:pointer;
      transition: transform .3s ease, box-shadow .3s ease;
      &:hover {
        background:$color-bg;
        color:$color-border;
        transform: translateY(-3px) scale(1.05);
    }
     }
     .card__minus,.card__plus{
            border-radius:3.125rem;
            width:1.438rem;
            padding-block:0.125rem;
            border:1px solid $color-text;
            background:$color-bg;
            color:$color-text;
            margin-bottom:0.625rem;
            text-align: center;
    }
     
     .card__plus{
        background: $color-btn;
        color:$color-white;
           cursor:pointer;
      transition: transform .3s ease, box-shadow .3s ease;
      &:hover {
        background:$color-bg;
        color:$color-border;
      }

     }
     .card__minus{
         cursor:pointer;
      transition: transform .3s ease, box-shadow .3s ease;
      &:hover {
        background:$color-btn;
        color:$color-white;
       
      }
     }
     .card__count{
        color:$color-text;

     }
     .product-card__price{
        color:$color-white;
        padding-top:1.063rem;
        font-size: $fs-price;

        
     }
     .card__positiv{
        padding-top:1.25rem;
     }

     .pic__text{
        color:$color-white;
        font-weight: $fw-medium;
        font-size: $fs-price;
        text-transform: uppercase;
        position: absolute;
        top: 40%;
       left: 50%;
        transform: translate(-50%, -50%);

     }
     .pic__header{
        font-size: $fs-h1;
        color:$color-white;
        font-weight: $fw-black;
        text-align: end;
        padding-top:0;
        margin-top: 0;
        align-self: flex-end;
     }
     .pic__text-info{
        color:$color-white;
        font-size:$fs-filter;
        text-align: end;
        
     }
    
     .pic__button{
      position: absolute;
       top: 80%;
       left: 50%;
       text-align: center;
        transform: translate(-50%, -50%);
        font-size: $fs-small;
        border-radius:1.875rem;
        border:none;
        color:$color-white;
        background: $color-btn;
        width:clamp(7rem,10vw,12.75rem);
        padding-block:0.5rem;
           cursor:pointer;
      transition: transform .3s ease, box-shadow .3s ease;
      &:hover {
        background:$color-bg;
        color:$color-border;
      }
     }
     .pic__img{
      border-radius:3.125rem;
      padding-block:1.25rem;
     }
     .nav__link.active{
      border-bottom: 2px solid #ff3d00;
      transition: 0.3s ease;
     }

   .card__minus[disabled]{
   cursor:default;
   opacity: 0.5;
   pointer-events: none;
   transition: opacity .3s;
}
.card__minus[disabled]:hover,
.card__minus[disabled]:active {
  background: inherit;
  transform: none;
}
    
.cart {
  position: relative;
  display: inline-block;
}

.cart__total {
  position: absolute;
  top: -6px;
  right: -6px;
  background:$color-btn;
  color: #fff;
  font-size:$fs-body;
  font-weight:$fw-bold;
  border-radius: 50%;
  padding: 2px 6px;
  min-width:1.3rem;
  text-align: center;
  line-height: 1;
}
.active-btn{
   background: $color-btn;
   color:$color-white;
}


.hidden{
 display: none !important;
}
.modal{
  display:grid;
  place-items:center;
  z-index:1000;
  font-size: $fs-body;
  position: fixed;
  inset:0;
  overflow-y:auto;
  overscroll-behavior: contain;
   &__window{
position:relative;
background:$color-bg;
color:$color-white;
z-index: 1;
padding:clamp(0.938rem,4vw,1.875rem);
 max-height: 80vh;
 height: 80vh;
border-radius:30px;
margin:0 auto;
box-shadow: 0 8px 24px rgba(0,0,0,.3);
  max-width: 960px; 
  width: 100%;
  }
  &__cards{
   display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
  padding: 16px 0;
  }
    &__overlay{
    position:absolute;
    inset:0;
    z-index: 0;
    background: rgba(0,0,0,.6);
    backdrop-filter: blur(2px);
  }
  &__close{
   display: grid;
   justify-self:end;
   margin-bottom: 25px;
  width:20px;
  height:20px;
  border:none;
  background: transparent;
  cursor:pointer;
  padding: 0.5rem;
  color:$color-border;
  
}
&__system{
   display: grid;
   grid-template-columns: 1fr 1fr;
   height: 100%;
   overflow: hidden;
}
&__icon{
  width:1.25rem;
  height:1.25rem;
  fill:currentColor;
}
&__colls-ingredients{
   overflow-y: auto;
   padding-left: 1rem;
}
&__ingredients-text{
   font-size: $fs-body;
   line-height: $lh-loose;
   margin: 0;
}
&__btn{
  margin-block: 20px;

}
&__ingredients-title{
   text-align: center;
}
&__radio{
   
}
&__btn-group{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap:0.5rem;
 
}
&__colls-img{
   display: flex;
   align-items: center;
   padding-block:1.875rem;
}
&__img{
   width:clamp(15rem,20vw,25.625rem)
}
&__card{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap:0.25rem;
   cursor: pointer;
  transition:transform .3s ease, box-shadow .3s ease;
  &:hover{
   background:$color-bg-footer;
   color:$color-footer-header;
   border-radius: 1.25rem;
   border:1px solid $color-border;
  }
}
&__order{
   display: flex;
   justify-content: center;
   margin-block:1.875rem;
}
&__price{
   margin: 0;
}
  }
.modal__card-active{
   background:$color-bg-footer;
   color:$color-footer-header;
   border-radius: 1.25rem;
   border:1px solid $color-border;
}
.btn-active{
   background: $color-btn;
   color:$color-white;
} 
.modal__card-value{
   background:$color-bg-footer;
   color:$color-footer-header;
   border-radius: 1.25rem;
   border:1px solid $color-border;
}
.modal__body-active{
   overflow: hidden;
}
.cart__modal{
    inset: 0 0 0 auto;
    height: 100vh;
    width: 500px;
  z-index:1000;
  font-size: $fs-body;
  position: fixed;
  right: 0;
  top:0;
   &-sad{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }
  &-hungry{
    display: flex;
    justify-content: center;
    font-style: italic;
    color:$color-card;
  }
  &-window{
   display:grid;
    grid-template-rows: 1fr auto;
    height: 100%;
    background:$color-btn;
color:$color-white;
padding-inline: 30px;
padding-left: 100px;
z-index: 1;
box-shadow: 0 8px 24px rgba(0,0,0,.3);
  width: 100%;
     clip-path: polygon(
    0% 0%,
    15% 10%, 5% 20%, 20% 30%, 
    10% 45%, 25% 60%, 15% 75%, 
    20% 90%, 5% 95%, 0% 100%,
    100% 100%, 100% 0%
  );
  }
  &-overlay{
    position:fixed;
    inset:0;
    z-index:900;
    background: rgba(0,0,0,0);
    
  }
  &-top{
   display: flex;
   flex-direction: column;
   padding:20px;
   overflow-y: auto;
  }
  &-bottom{
   padding:20px;  
}

  &-items{
   
   border-bottom: 1px solid $color-footer;
  
  }
  &-info{
   padding-block: 10px;
   line-height: $lh-normal;
  }
  &-details,&-ingredients{
   font-size: $fs-small;
  }
 
  &-pizza{
   font-weight:$fw-black;
  }
   &-title{
      color:$color-white;
      text-align: center;
   }
  &-checkout{
   color:$color-white;
   text-transform: uppercase;
   background: $color-bg;
   width:250px;
   padding-block: 15px;
   border-radius: 50px;
   border: $color-border;
   &:hover{
      background: $color-footer-header;
      color:$color-card;
   }
  }
  &-wrapper{
    display: grid;
    grid-template-columns: 100px auto;
    gap:50px;
    align-items: flex-start;
  }
  &-counter{
   display: flex;
   gap:50px;
   padding-block: 20px;
   padding-inline: 20px;

  }
  &-radiogroup{
   display: flex;
   gap:20px;
  }
  &-summary{
   display: flex;
   justify-content: space-between;
   border-top: 1px solid $color-footer;
   padding-block: 10px;
   
  }
 &-order{
   display: flex;
   justify-content: center;
   padding-block: 30px;
 }
 &-close{
   display:flex;
   justify-content: end;
   color:$color-card;
   background: inherit;
   border:none;
   font-size: $fs-h3;
   cursor: pointer;
 }
 &-change{
border:none;
background:inherit;
color:$color-white;
cursor: pointer;
 }
 &-coffee,&-capuchino,&-soda{
   width: 80px;
   height: 80px;
   cursor:pointer;
 }
 &-extras{
   display: flex;
   gap:40px;
   padding-block: 30px;
  
   
 }
 &-extrastitle{
   padding-block: 20px;

 }
 &-priceblock{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap:10px;
   
 }
 &-left,&-right{
  cursor: pointer;
 }
 &-remove{
  cursor: pointer;
 }

}
.cart__modal-item .modal__img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.ripple {
  position: relative;
  overflow: hidden;
}

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  background: radial-gradient(circle, rgba(255,140,0,0.6) 0%, rgba(255,70,0,0.2) 60%, transparent 100%);

  animation: ripple-animation 0.6s linear;
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
.icon-trash{
  width:15px;
  height:15px;
  color:$color-white;
}


     @media (max-width: 768px) {
        .pic__text{
            font-size: $fs-filter;
        }
        .pic__header{
            font-size: $fs-h2;
        }
     }
@media (max-width: 600px) {
  .modal__window {
    max-height: 90vh;   
    height: auto;      
    overflow-y: auto;   
  }

  .modal__system {
    grid-template-columns: 1fr; 
  }

  .modal__colls-ingredients {
    max-height: 60vh;   
    overflow-y: auto; 
        .modal__colls-ingredients {
    background: #210A01;   
    padding: 1rem;
    border-radius: 1rem;
  }
  }
}

     @media (max-width: 480px) {
        .pic__text{
            font-size: $fs-small;
        }
        .pic__header{
            font-size: $fs-h3;
        }
     }
@media (max-width: 480px) {
  .modal__window {
    height: auto;
    max-height: 90vh;
    width: 90%;
    padding: 1rem;
  }

  .modal__system {
    grid-template-columns: 1fr;  
    gap: 1.25rem;
  }

  .modal__img {
    width: 60%;
    margin: 0 auto;
  }

  .modal__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}
