.nav{
    &__bar{
    font-size: $fs-body;
    display: flex;
    justify-content: flex-end;
    gap:80px;
    }
    
    &__link{
        text-decoration: none;
        color:$color-text
    }
}
.header{
    display: grid;
    grid-template-columns: auto auto auto;
   
    align-items: center;
    &__logo{
        max-width:162px;
        color:#FFA228;
       filter: drop-shadow(0 0 6px rgba(255, 100, 50, 0.6));
    }
    &__btn{
        display:flex;
        justify-content:center;
        gap:20px;
        
    }
    &__cart{
        background: $color-bg;
        border:none;
        cursor: pointer;
       
    }
    &__cart-icon{
        height: 40px;
        width:45px;
        color:#FFA228;
       filter: drop-shadow(0 0 6px rgba(255, 100, 50, 0.6));
    }
    &__order{
       padding-inline: 50px;
        background: $color-btn;
        color:$color-white;
        border-radius: 30px;
        text-align: center;
        font-size: $fs-body;
        cursor: pointer;
         transition: transform .3s ease, box-shadow .3s ease;
        &:hover{
        transform: translateY(-3px) scale(1.05);
        }
    }
}
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:120px;
    &__video{
    width: 100%;
     max-width: 300px;
     border-radius: 12px;
     position: relative;
    }
    &__text{
        color:$color-text;
        font-size: $fs-h3;
    }
    &__header{
        color:$color-white;
        font-size: $fs-h1;
        font-weight: $fw-black;
    }
    &__img{
       max-height: 684px;
        width: auto;
        align-self: end;
        margin-top: 30px;
    }

}
.menu{
    &__header{
        font-size: $fs-h1;
        font-weight: $fw-black;
        color:$color-white;
        text-align: center;
    }
    &__filter{
        display: flex;
        gap:80px;
        font-size: $fs-filter;
           
    }
    &__item{
        padding-block: 15px;
        width: 200px;
        border-radius: 30px;
        color:$color-white;
        background: #210A01;
        border: none;
    }
    
    &__cards{
       display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap:80px;
        padding-inline: 30px;
       
  
        
    }
    &__card{
    flex: 0 1 229px;  // ← вот это ключ
     box-sizing: border-box;
     max-width: 297px;
        
        
     
    }
    &__img-wrapper{
         height: 160px;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   &__bottom{
    display: flex;
    flex-wrap: wrap;
    gap:50px;
   }
   &__popular{
    position:relative;
   }
   &__title{
    position: absolute;
    color:$color-white;
    font-size:42px;
    font-weight: $fw-medium;
    text-transform: uppercase;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
   }
    }
    .events{
        &__colls-1,&__colls-2,&__colls-3{
            display: flex;
            gap:20px;
            align-items: end;
        }
        &__pic{
            position:relative;
        }
    }
.about{
    &__colls{
     display:grid;
    grid-template-columns: minmax(0, 1fr) auto;
    gap:50px;
    }
    &__text{
        color:$color-text;
        font-size: $fs-filter;
        padding-right: 30px;
    }
    &__svg{
    padding-block: 20px;
    }
   &__header{
    font-size: $fs-h1;
    font-weight: $fw-black;
    color:$color-white;
    margin-bottom: 20px;
   }
   &__img-pizza{
    padding-top: 25px;
    border-radius: 20px;
    overflow: hidden;
   }
}
.footer{ 
    width: 100%;
    background:$color-bg-footer;
    font-family: $font-main;
    min-height: 436px;
    
    &__container{
    display: flex;            
    flex-direction: column;   
    justify-content: space-between; 
    height: 100%;
        
    }
  &__rows{
    display: grid;
    gap:40px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding-block: 30px;
    margin-block: 30px;
    align-items: start;
    
  }
&__social{
    display: flex;
    gap:15px;
    align-items: center;
}
&__icon{
    color:#FFA228;
    filter: drop-shadow(0 0 6px rgba(255, 100, 50, 0.6));
}
&__img{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}
&__contacts{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    
}
&__link{
    text-decoration: none;
    color:#FFA228;
    filter: drop-shadow(0 0 6px rgba(255, 100, 50, 0.6));
    font-size: $fs-filter;
   
}
&__logo{
    display: flex;
    align-items: flex-start;
    color:#FFA228;
    filter: drop-shadow(0 0 6px rgba(255, 100, 50, 0.6));
    align-self: start;
    justify-self: start;
    
    
}
&__logo-img{
    display: block;
    max-width:142px;
    height:33px;

    
}
&__nav-link {
    text-decoration: none;
    font-size: $fs-body;
    color:$color-footer;
    letter-spacing:$ls-wide;
   
}
&__strong{
    color:$color-footer-header;
    text-transform: uppercase;
}
&__nav-item{
    line-height: $lh-loose;
}
}