.nav{
   
    &__bar{
    font-size: $fs-body;
    display: flex;
    justify-content: flex-end;
    gap:clamp(2.5rem,4vw,5rem);
    }
    
    &__link{
        text-decoration: none;
        color:$color-text;
          cursor:pointer;
      transition: transform .3s ease, box-shadow .3s ease;
      &:hover {
        background:$color-bg;
        color:$color-border;
    }
    }
}
.header{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    position:sticky;
   top:0;
   z-index:100;
   width: 100%;
   background: $color-bg;
   
    &__logo{
        max-width:clamp(6rem,8vw,10.125rem);
        color:#FFA228;
       filter: drop-shadow(0 0 6px rgba(255, 100, 50, 0.6));
    }
    &__btn{
        display:flex;
        justify-content:center;
        gap:clamp(0.625rem,3vw,1.25rem);
        
    }
    &__cart{
        background: $color-bg;
        border:none;
        cursor: pointer;
       
    }
    &__cart-icon{
        height: 2.5rem;
        width:2.813rem;
        color:#FFA228;
       filter: drop-shadow(0 0 6px rgba(255, 100, 50, 0.6));
    }
    &__order{  
       padding-inline: clamp(1.5rem,2vw,3.125rem);
        background: $color-btn;
        color:$color-white;
        border-radius:1.875rem;
        border: none;
        text-align: center;
        font-size: $fs-body;
        cursor: pointer;
         transition: transform .3s ease, box-shadow .3s ease;
        &:hover{
        transform: translateY(-3px) scale(1.05);
        }
    }
}
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:clamp(3rem,5vw,7.5rem);
   
    &__play{
     max-width: clamp(10rem,15vw,18.75rem);
     border-radius:0.75rem;
     position: relative;
     object-fit: cover; aspect-ratio:16/9;
    
    }
    &__video{
    max-width: clamp(10rem,15vw,18.75rem);
     border-radius:0.75rem;
     position: relative;
     
    }
    &__text{
        color:$color-text;
        font-size:$fs-filter;
    }
    &__header{
        color:$color-white;
        font-size: $fs-h1;
        font-weight: $fw-black;
        
    }
    &__img{
       max-height: clamp(21rem,38vw,42.75rem);
        width: auto;
        align-self: end;
        margin-top:1.875rem;
    }
&__colls{
    position: relative;
}
&__arrow-small{
    position: absolute;
    width:5.625rem;
    height:3.438rem;
    color:$color-text;
    padding-left:1.25rem;
    
}
&__arrow{
    color:$color-text;
    position: absolute;
}
}
.menu{
    &__header{
        font-size: $fs-h1;
        font-weight: $fw-black;
        color:$color-white;
        text-align: center;
    }
    &__filter{
        display: flex;
        justify-content: space-between;
       padding-bottom: 20px;
        font-size: $fs-filter;
           
    }
    &__item{
        padding-block:0.938rem;
        width:clamp(6rem,10vw,12.5rem);
        border-radius:1.875rem;
        color:$color-white;
        background: #210A01;
        border: none;
        cursor:pointer;
    }
    
    &__cards{
       display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap:clamp(2.5rem,4vw,5rem);
        padding-inline:1.875rem;
            
    }
    &__card{
    flex: 0 1 14.313rem;
     box-sizing: border-box;
     max-width: clamp(10rem,15vw,18.563rem); 
    transition:
    opacity 0.35s ease,
    transform 0.35s ease;
  will-change: opacity, transform;
    }
    &__img-wrapper{
       height:clamp(5rem,8vw,10rem);
       display: flex;
       justify-content: center;
       align-items: center;
       overflow: hidden;
       transform: translateY(0) scale(1);
       transition: transform 0.25s ease;
       &:hover{
        transform: translateY(-2px) scale(1.02);
       }
   }
   &__bottom{
    display: flex;
    flex-wrap: wrap;
    gap:clamp(1.75rem,2vw,3.125rem);
   }
   &__popular{
    position:relative;
   }
   &__title{
    position: absolute;
    color:$color-white;
    font-size:$fs-h2;
    font-weight: $fw-medium;
    text-align: center;
    text-transform: uppercase;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
   }
    }
    .menu__card.fade-out {
  opacity: 0;
  transform: scale(0.97);
  pointer-events: none;
}
    .events{
        &__colls-1,&__colls-2,&__colls-3{
            display: flex;
            gap:clamp(0.625rem,3vw,1.25rem);
            align-items: end;
        }
        &__pic{
            position:relative;
        }
    }
.about{
    &__colls{
     display:grid;
    grid-template-columns: minmax(0, 1fr) auto;
    gap:clamp(1.75rem,2vw,3.125rem);
    }
    &__text{
        color:$color-text;
        font-size: $fs-filter;
        padding-right:1.875rem;
    }
    &__svg{
    padding-block:1.25rem;
    }
   &__header{
    font-size: $fs-h1;
    font-weight: $fw-black;
    color:$color-white;
    margin-bottom:1.25rem;
   }
   &__img-pizza{
    padding-top:1.563rem;
    border-radius:1.25rem;
    overflow: hidden;
   }
}
.footer{ 
    width: 100%;
    background:$color-bg-footer;
    font-family: $font-main;
    min-height:clamp(15rem,20vw,27.25rem);
    
    &__container{
    display: flex;            
    flex-direction: column;   
    justify-content: space-between; 
    height: 100%;
        
    }
  &__rows{
    display: grid;
    gap:clamp(1.25rem,2vw,2.5rem);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding-block:1.875rem;
    margin-block:1.875rem;
    align-items: start;
    
  }
&__social{
    display: flex;
    gap:0.938rem;
    align-items: center;
}
&__icon{
    color:#FFA228;
    filter: drop-shadow(0 0 6px rgba(255, 100, 50, 0.6));
    cursor:pointer;
      transition: transform .3s ease, box-shadow .3s ease;
      &:hover {
        background:$color-bg;
        color:$color-border;
    }
}
&__img{
    width:1.5rem;
    height:1.5rem;
    flex-shrink: 0;
}
&__contacts{
    display: flex;
    justify-content: space-between;
    padding-top:1.875rem;
    
}
&__link{
    text-decoration: none;
    color:#FFA228;
    text-shadow: 0 0 6px rgba(255, 100, 50, 0.6);
    font-size: $fs-filter;
     cursor:pointer;
      transition: transform .3s ease, box-shadow .3s ease;
      &:hover {
        background:$color-bg;
        color:$color-border;
    }
   
}
&__logo{
    display: flex;
    align-items: flex-start;
    color:#FFA228;
    filter: drop-shadow(0 0 6px rgba(255, 100, 50, 0.6));
    align-self: start;
    justify-self: start;
    
    
}
&__logo-img{
    display: block;
    max-width:clamp(4.425rem,6vw,8.875rem);
    height:2.063rem;

    
}
&__nav-link {
    text-decoration: none;
    font-size: $fs-body;
    color:$color-footer;
    letter-spacing:$ls-wide;
      cursor:pointer;
      transition: transform .3s ease, box-shadow .3s ease;
      &:hover {
        background:$color-bg;
        color:$color-border;
    }
   
}
&__strong{
    color:$color-footer-header;
    text-transform: uppercase;
}
&__nav-item{
    line-height: $lh-loose;
}
}
@media (max-width:1024px) {
    .hero {
        grid-template-columns: 1fr;
        text-align: center;

        &__img {
            margin: 1.875rem auto 0 auto;
        }
    }
}

@media (max-width:950px) {
    .menu__card {
        flex: 0 1 calc(33% - 1.5rem);
        max-width: 100%;
    }
}

@media (max-width:768px) {
    .header {
        grid-template-columns: auto auto;

        &__logo { justify-self: start; }
        &__btn { justify-self: end; }
    }

    .nav__bar {
        justify-content: center;
        gap: 1.5rem;
    }

    .menu__filter {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.25rem;
    }

    .about__colls {
        grid-template-columns: 1fr;
    }
}

@media (max-width:600px) {
    .menu__cards {
        gap: 1.25rem;
    }

    .menu__card {
        flex: 0 1 calc(50% - 1rem);
    }
}

@media (max-width:480px) {
    .header {
        grid-template-columns: auto;

        &__btn {
            margin-top: 1.25rem;
            justify-self: center;
        }
    }
      .events__text {
    max-width: 100%;
    text-align: center;
    padding-inline: 1rem;
  }
 .menu__title {
    font-size: clamp(1.25rem, 6vw, 2rem);
  }
    .nav__bar {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .hero__header {
        font-size: clamp(32px, 7vw, 48px);
    }

    .menu__filter {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
      .header {
    grid-template-columns: 1fr 1fr;
  }

  .header__btn {
    justify-self: end;
  }

  .header__cart {
    transform: scale(.9);
  }
}

@media (max-width:420px) {
    .menu__card {
        flex: 0 1 100%;
        max-width: 17rem;
        margin-inline: auto;

    }

    .menu__cards {
        gap:1rem;
        justify-content: center;
    }
    .menu__filter{
        gap:0.75rem;
    }
 .menu__header {
    margin-bottom: 1.5rem;
  }
}






